name: Test

on:
  pull_request:

jobs:
  java-sdk-test:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        module: [hackle-sdk-common, hackle-sdk-core, hackle-server-sdk]
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
          distribution: 'temurin'
      - name: Set up Gradle
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: 7.2

      - name: Test ${{ matrix.module }}
        run: gradle :${{ matrix.module }}:test --stacktrace --info

      - name: Upload Test Results (${{ matrix.module }})
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-results-${{ matrix.module }}
          path: ${{ github.workspace }}/${{ matrix.module }}/build/test-results/test/TEST-*.xml
          retention-days: 1

      - name: Upload Jacoco Report (${{ matrix.module }})
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-report-${{ matrix.module }}
          path: ${{ github.workspace }}/${{ matrix.module }}/build/reports/jacoco/test/jacocoTestReport.xml
          retention-days: 1

  report:
    runs-on: ubuntu-22.04
    needs: java-sdk-test
    if: always()
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          files: 'artifacts/test-results-*/*.xml'
          check_name: 'Test Results'
          comment_title: 'Test Results'
          comment_mode: changes

      - name: Coverage
        id: jacoco
        uses: madrapps/jacoco-report@v1.7.2
        with:
          paths: artifacts/jacoco-report-*/*.xml
          token: ${{ secrets.GITHUB_TOKEN }}
          title: 'Coverage'
          update-comment: true