name: Test

on:
  pull_request:

jobs:
  java-sdk-test:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        module: [hackle-sdk-common, hackle-sdk-core, hackle-server-sdk]
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
          distribution: 'temurin'
      - name: Set up Gradle
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: 7.2

      - name: Test ${{ matrix.module }}
        run: gradle :${{ matrix.module }}:test --stacktrace --info
          
      - name: Test Report ${{ matrix.module }}
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: success() || failure()
        with:
          files: '${{ github.workspace }}/${{ matrix.module }}/build/test-results/test/TEST-*.xml'
          check_name: 'Test Results ${{ matrix.module }}'
          comment_title: 'Test Results ${{ matrix.module }}'
          comment_mode: changes

      - name: Coverage ${{ matrix.module }}
        id: jacoco
        uses: madrapps/jacoco-report@v1.7.2
        if: success() || failure()
        with:
          paths: ${{ github.workspace }}/${{ matrix.module }}/build/reports/jacoco/test/jacocoTestReport.xml
          token: ${{ secrets.GITHUB_TOKEN }}
          title: 'Coverage: ${{ matrix.module }}'
          update-comment: true
